  .navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;}

  .navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;}

  .navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;}

  .navbar-wrapper .navbar .container {
    width: auto;}

  .navbar-wrapper2 {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 20;}

  .navbar-wrapper2 > .container {
    padding-right: 0;
    padding-left: 0;}

  .navbar-wrapper2 .navbar {
  padding-right: 15px;
  padding-left: 15px;}

  .navbar-wrapper2 .navbar .container {
    width: auto;}

  .carousel {
  height: 375px;
  margin-bottom: 10px;}

/* Since positioning the image, we need to help out the caption */
  .carousel-caption {
  z-index: 10;}

/* Declare heights because of positioning of img element */
  .carousel .item {
  height: 375px;
  background-color: #777;}

  .carousel-inner > .item > img {
  display: block;
  margin: 0px auto;
  text-align: center;
  height: 375px;}

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;}

.pic {
  width: 20%;
}

.img {
  width:450px;
}

.margin {
  margin-top: 4%;
  margin-left:18%;
}

#showNone {
  text-align:center;
  font-size:12pt;
  display:none;
}

.showFill {
  text-align:center;
  font-size:12pt;
}

#formatTabel {
  width: 70%;
  text-align:center;
}

.title {
  font-size:18pt;
  font-weight:bold;
}

.title2 {
  font-weight:bold;
  margin-top:3%;
}

#pelaksanaan {
  width:100px;
  float:left;
}

.sama {
  width:8px;
  float:left;
}

.sama2 {
  width:8px;
  float:left;
  margin-top: 3%;
}

.titik {
  width:5px;
  float:left;
}

.deskripsis {
  float:left;
  width:600px;
  margin-left:10%;
}

.mulai {
  width:120px;
  float:left;
  font-weight:bold;
}

.selesai {
  width:255px;
  float:left;
  font-weight:bold;
}

.sampai {
  width:60px;
  float:left;
}

.sampai2 {
  width:60px;
  float:left;
  margin-top: 3%;
}

.ajar {
  float:left;
}

.tanggal {
  width:115px;
  float:left;
}

.berita {
  width:300px;
  height:150px;
  margin:10px;
}

#kursus {
  width:600px;
  height:330px;
  float:right;
}

#krs {
  width:45%;
  float:left;
}

#krs2 {
  width:45%;
  float:left;
  margin-left: 3%;
}

#subKrs {
  margin-left:-4%;
}

.view {
  width:120px
}

.tanda {
  width:8px;
  height: 30px;
}

.center {
  text-align:center;
}

.justify {
  text-align:justify;
}

#pagination {
  float: right;
}

.email {
  width:200px;
}

.nama {
  width: 150px;
}

.pesan {
  width: 470px;
}

.aksi {
  width:180px;
}

#line {
  height:3px;
  background-color: #0000FD;
}

.led {
  color:red;
}

#header {
  color:white;
  font-size:12pt;
}

#konten {
  color:white;
  font-size:10pt;
}

#box {
  color:white;
  width:110px;
  font-weight:bold;
  font-size:10pt;
}

#size {
  width:300px;
  height:30px;
}

#area {
  width:300px;
  margin-top:10px;
  height:60px;
}

#sama {
  color:white;
  width:10px;
  font-weight:bold;
}