body  {
	background: #b6b6b6;
	margin:0;
	padding:0;
	font-family: arial;
}

#login_form {
	width:380px;
	background: #0066ff;
	border:0px;
	margin: 90px auto 0;
	padding: 1cm;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
}

#gbr {
	height:85px;
	text-align: center;
	margin: 20px auto 0;
	padding: 1cm;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
}

h1,h2,h3,h4,h5 {
	margin-top: 0;
	font-family: arial;
	text-align: center;
}

input[type=submit] {
	background-color:#000066;
	color:white;
}

input[type=submit]:hover {
	background-color:#000033;
	color:white;
	cursor: pointer;
}

h2 {
	text-shadow: 0 1px 0 black;
}