/*Header Nav*/
.blue-background {
	background-color: #0066ff;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 14px;
}

.navbar-default {
	background-color: transparent;
	border: none;
	min-height: 50px;
}

.navbar {
	margin-bottom: 0;
}

li:hover {
	background-color: white;
	color: black;
}

/*Footer*/
.form-control {
	width: 400px;
}

footer .col-md-6{
	margin: auto;
}


/*Login*/
.login_form {
	margin-left: 50px;
}

/*Tentang*/
.featurette-divider {
	margin: 40px 0;
}

.lead {
	font-size: 14px;
	line-height: 1.5;
}