/*Header Nav*/
.blue-background {
	background-color: #0066ff;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 14px;
}

.navbar-default {
	background-color: transparent;
	border: none;
	min-height: 50px;
}

.navbar {
	margin-bottom: 0;
}

li:hover {
	background-color: white;
	color: black;
}

.username {
	color: white;
	text-decoration: none;
	padding-left: 10px;
}

a {
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
}

a:hover {
	color: white;
	text-decoration: none;
}

.navbar-default .navbar-brand {
	color: white;
	font-weight: bold;
	font-size: 20pt;
}

.navbar-default .navbar-brand:hover {
	color: white;
}

/*Footer*/
.form-control {
	width: 400px;
}

footer .col-md-6{
	margin: auto;
}


/*Login*/
.login_form {
	margin-left: 50px;
}

/*Tentang*/
.featurette-divider {
	margin: 40px 0;
}

.lead {
	font-size: 14px;
	line-height: 1.5;
}